<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>

  <body class="d-flex flex-column h-100"> 
    <div id="skip-to-content"> 
    <a href="#maincontent">Skip to main content</a> </div>
    
    <!-- TOP HEADER (KEEP OUTSIDE GRID) --> 
    {% include collection-nav.html %}
    {% include collection-banner.html %} 

    
    {% unless page.hide_profile_nav %}
      {% include profile-nav.html %}
    {% endunless %}

    <!-- PAGE LAYOUT -->
    <div class="container-fluid">
      <div class="row">

        <!-- MAIN CONTENT -->
        <main id="maincontent" class="col-12">
          {{ content }}
        </main>

      </div>
    </div>

    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}

  </body>
</html>
