<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>

  <body class="d-flex flex-column h-100">

    <div id="skip-to-content">
      <a href="#maincontent">Skip to main content</a>
    </div>

    <!-- TOP HEADER (KEEP OUTSIDE GRID) -->
    {% include collection-banner.html %}
    {% include collection-nav.html %}

    <!-- PAGE LAYOUT -->
    <div class="container-fluid">
      <div class="row">

        <!-- MAIN CONTENT -->
        <main id="maincontent" class="col-12">
          {{ content }}
        </main>

      </div>
    </div>

    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}

  </body>
</html>
