---
# Default home page with boxes providing collection stats
layout: page
---

<br><br><br><br><br>
<h1 id="home-header">Juan Luna</h1>
<h5 id="home-subheader">25 October 1857 – 7 December 1899</h5>

<br>
  <p>
    Juan Luna de San Pedro y Novicio (October 25, 1857 – December 7, 1899) was a Filipino painter, sculptor, and political activist during the Philippine Revolution. He became one of the first internationally recognized Filipino artists.
  </p>

  <p>
    His gold medal win at the 1884 Madrid Exposition of Fine Arts, along with Félix Resurrección Hidalgo’s silver medal, was celebrated by members of the Propaganda Movement. It symbolized Filipino artistic excellence and unity among ilustrados.
  </p>

  <p>
    Known for his European academic painting style, Luna created historical and literary works often infused with political meaning. His allegorical paintings showed strong classical influence and dramatic composition.
  </p>

<div class="timeline-wrapper">

  <div class="timeline-line"></div>

  {% assign sorted_items = site.data.demo-metadata | sort: "year" %}

  {% for item in sorted_items %}

  <div class="timeline-item">

    <div class="timeline-year">
      {{ item.year }}
    </div>

    <img src="{% if item.filename contains 'http' %}
      {{ item.filename }}
    {% else %}
      {{ '/objects/' | append: item.filename | relative_url }}
    {% endif %}"
    alt="{{ item.title }}">

    <h4>{{ item.title }}</h4>

    <p>{{ item.description }}</p>

  </div>

  {% endfor %}

</div>
